ion-header {
	.ion-gradient {
		background: transparent
			linear-gradient(
				180deg,
				var(--color-26235d) 0%,
				var(--color-de1b54) 100%
			)
			0% 0% no-repeat padding-box;
		box-shadow: 0px 5px 15px #26235d29;
		opacity: 1;
	}

	ion-toolbar.transparent {
		--background: transparent;
	}

	.ion-toolbar-title {
		ion-title {
			font: var(--font-style-normal) normal var(--font-weight-normal)
				var(--font-size-24) / var(--line-spacing-30)
				var(--ion-font-family);
			letter-spacing: var(--character-spacing-0);
			color: var(--color-ffffff);
			white-space: normal;
			text-align: center;
			padding-inline: 24px;
		}
	}

	.ion-toolbar-search {
		padding-top: 0px;
		ion-searchbar {
			--box-shadow: none;
			--color: var(--color-26235d);
			--placeholder-color: var(--color-26235d);
		}
	}

	// ToolBar Checkbox
	.ion-toolbar-checkbox {
		background: var(--color-fbfbfb) 0% 0% no-repeat padding-box;
		--min-height: 40px;
		border-top: 1px solid var(--color-eeeeee);
		padding-top: 0;

		ion-item {
			--background: transparent;
			--ripple-color: var(--color-c5c7c5);
			ion-label {
				margin: 0;
				font: var(--font-style-normal) normal var(--font-weight-bold)
					var(--font-size-12) / 21.6px var(--ion-font-family);
				letter-spacing: var(--character-spacing-0);
				color: var(--color-26235d);
				text-transform: uppercase;
			}

			ion-checkbox {
				margin: 0px 15px 0px 0px;
			}
		}

		ion-item::part(native) {
			padding-inline-start: 24px;
			padding-inline-end: 24px;
		}

		.sort-icon {
			margin-right: 20px;
			padding: 10px;
			color: var(--color-26235d);
		}
	}
}

// Ion Segment
ion-segment {
	background: var(--color-26235d) 0% 0% no-repeat padding-box;
	box-shadow: 0px 3px 10px #26235d29;
	border-radius: 0;

	ion-segment-button {
		color: var(--color-ffffff);
		border-radius: 0px;

		ion-label {
			font: var(--font-style-normal) normal var(--font-weight-medium)
				15.6px/21.6px var(--ion-font-family);
			letter-spacing: var(--character-spacing-0);
			text-transform: capitalize;
		}
	}

	.segment-button-checked {
		background: var(--color-ffffff) 0% 0% no-repeat padding-box;
		color: var(--color-26235d);
	}

	.segment-button-checked::part(indicator) {
		display: none;
	}
}

// Ion List
ion-list {
	ion-item {
		--border-color: #e0ecde;
		margin-inline: 20px;
		--inner-padding-start: 5px;
		--inner-padding-end: 5px;
		--detail-icon-color: var(--color-26235d);
		--detail-icon-opacity: 1;
		--ripple-color: var(--color-c5c7c5);

		ion-label {
			padding-left: 5px;
			margin: 15px 0px 15px;

			.title {
				font: var(--font-style-normal) normal var(--font-weight-bold)
					var(--font-size-16) / var(--line-spacing-16)
					var(--ion-font-family);
				letter-spacing: var(--character-spacing-0);
				color: var(--color-26235d);
				text-transform: capitalize;
			}
			ion-text {
				font: var(--font-style-normal) normal var(--font-weight-medium)
					var(--font-size-12) / var(--line-spacing-20)
					var(--ion-font-family);
				letter-spacing: var(--character-spacing-0);
				color: var(--color-26235d);
				opacity: 0.5;
			}
		}

		.custom-checkbox {
			position: absolute;
			right: 8px;
			margin-inline-start: 10px;
		}
	}

	ion-item::part(native) {
		padding-inline-start: 0;
	}
}

.ion-card {
	background: var(--color-ffffff) 0% 0% no-repeat padding-box;
	box-shadow: 0px 11px 28px #56c59626;
	border-radius: 20px;
	margin-top: 20px;

	.ion-card-header {
		font: var(--font-style-normal) normal var(--font-weight-bold)
			var(--font-size-16) / 22px var(--ion-font-family);
		letter-spacing: var(--character-spacing-0);
		color: var(--color-26235d);
		text-transform: capitalize;
		padding-inline: 25px;
	}
}

ion-footer.ion-footer-button {
	// box-shadow: 15px -15px 40px #329d9c36;

	ion-button {
		margin: 0;
		height: 55px;
		box-shadow: 15px -15px 40px #329d9c36;
		--border-radius: 0px;
		font: var(--font-style-normal) normal var(--font-weight-normal) 14px /
			var(--line-spacing-17) var(--ion-font-family);
		letter-spacing: var(--character-spacing-0);
		color: var(--color-ffffff);
		text-transform: uppercase;
	}
}
