<ion-header translucent="true" class="ion-no-border ion-header-transparent">
	<ion-toolbar class="side-button">
		<ion-buttons slot="start">
			<ion-menu-button>
				<ion-icon src="/assets/icon/menu.svg" size="small"></ion-icon>
			</ion-menu-button>
		</ion-buttons>
		<ion-buttons slot="end" class="bell-button" [routerLink]="['/tabs/notification']">
			<ion-badge class="notification-count-badge">
				<span>{{unReadCount}}</span>
			</ion-badge>
			<ion-icon src="/assets/icon/bell.svg"></ion-icon>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content fullscreen="true" class="background-gradient default-page">
	<form [formGroup]="form" (ngSubmit)="onSubmit()">
		<ion-grid class="pl-25 pr-25">
			<ion-row>
				<ion-col size="12">
					<div class="py-25">
						<h4 class="title-text medium">Setup</h4>
						<h3 class="title-text">Change Password</h3>
					</div>
					<!-- <h6 class="title-text">Please enter new password below</h6> -->
				</ion-col>
				<ion-col size="12">
					<!-- Input with placeholder -->
					<ion-input [type]="showCurrentPassword ? 'text' : 'password'" class="form-control"
						placeholder="Current Password" formControlName="oPassword">
						<ion-button class="suffix-button active" fill="clear" (click)="onCurrentPasswordToggle()">
							<ion-icon [name]="showCurrentPassword ? 'eye-off-outline' : 'eye-outline'"></ion-icon>
						</ion-button>
						<!-- <ion-icon class="suffix-icon" src="/assets/icon/close.svg"></ion-icon> -->
					</ion-input>
					<div class="alert-text" *ngIf="submitted">
						<ng-container *ngFor="let error of errorMessages.oPassword">
							<ion-text *ngIf="submitted && form.get('oPassword').hasError(error.type)">
								{{ error.message }}
							</ion-text>
						</ng-container>
					</div>
				</ion-col>
				<ion-col size="12">
					<!-- Input with placeholder -->
					<ion-input [type]="showPassword ? 'text' : 'password'" class="form-control"
						placeholder="New Password" formControlName="nPassword">
						<ion-button class="suffix-button active" fill="clear" (click)="onPasswordToggle()">
							<ion-icon [name]="showPassword ? 'eye-off-outline' : 'eye-outline'"></ion-icon>
						</ion-button>
						<!-- <ion-icon class="suffix-icon" src="/assets/icon/close.svg"></ion-icon> -->
					</ion-input>
					<div class="alert-text" *ngIf="submitted">
						<ng-container *ngFor="let error of errorMessages.nPassword">
							<ion-text *ngIf="submitted && form.get('nPassword').hasError(error.type)">
								{{ error.message }}
							</ion-text>
						</ng-container>
					</div>
				</ion-col>
				<ion-col size="12">
					<!-- Input with placeholder -->
					<ion-input [type]="showConfirmPassword ? 'text' : 'password'" class="form-control"
						placeholder="Confirm Password" formControlName="cPassword">
						<ion-button class="suffix-button active" fill="clear" (click)="onConfirmPasswordToggle()">
							<ion-icon [name]="showConfirmPassword ? 'eye-off-outline' : 'eye-outline'"></ion-icon>
						</ion-button>
						<!-- <ion-icon class="suffix-icon" src="/assets/icon/close.svg"></ion-icon> -->
					</ion-input>
					<div class="alert-text" *ngIf="submitted">
						<ng-container *ngFor="let error of errorMessages.cPassword">
							<ion-text *ngIf="submitted && form.get('cPassword').hasError(error.type)">
								{{ error.message }}
							</ion-text>
						</ng-container>
					</div>
					<div class="alert-text" *ngIf="form.hasError('passwordNotMatch')">
						<ion-text>
							New Password and Confirm Password should match
						</ion-text>
					</div>
				</ion-col>
				<ion-col size="12">
					<ion-button type="submit" expand="block" class="btn-block btn-gradient">SUBMIT
						<ion-spinner *ngIf="showLoader" class="ion-margin-start" name="circles"></ion-spinner>
					</ion-button>
				</ion-col>
			</ion-row>
		</ion-grid>
	</form>
</ion-content>
