<ion-header translucent="true" class="ion-no-border ion-header-transparent">
	<ion-toolbar class="transparent">
		<ion-buttons [routerLink]="['/otp']" slot="start" class="back-button">
			<ion-icon src="/assets/icon/left-arrow.svg"></ion-icon>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content fullscreen="true" class="background-gradient default-page">
	<form [formGroup]="form" (ngSubmit)="onSubmit()">
		<ion-grid class="pl-25 pr-25">
			<ion-row>
				<ion-img src="/assets/icon/logo.svg" class="margin-auto"></ion-img>
				<ion-col size="12">
					<div class="py-25">
						<h4 class="title-text medium">Setup</h4>
						<h3 class="title-text">New Password</h3>
					</div>
					<h6 class="title-text">Please enter new password below</h6>
				</ion-col>
				<ion-col size="12">
					<!-- Input with placeholder -->
					<ion-input [type]="showPassword ? 'text' : 'password'" class="form-control"
						placeholder="New password" formControlName="nPassword">
						<ion-button class="suffix-button active" fill="clear" (click)="onPasswordToggle()">
							<ion-icon [name]="showPassword ? 'eye-off-outline' : 'eye-outline'"></ion-icon>
						</ion-button>
						<!-- <ion-icon class="suffix-icon" src="/assets/icon/close.svg"></ion-icon> -->
					</ion-input>
					<div class="alert-text" *ngIf="submitted">
						<ng-container *ngFor="let error of errorMessages.nPassword">
							<ion-text *ngIf="submitted && form.get('nPassword').hasError(error.type)">
								{{ error.message }}
							</ion-text>
						</ng-container>
					</div>
				</ion-col>
				<ion-col size="12">
					<!-- Input with placeholder -->
					<ion-input [type]="showConfirmPassword ? 'text' : 'password'" class="form-control"
						placeholder="Confirm password" formControlName="cPassword">
						<ion-button class="suffix-button active" fill="clear" (click)="onConfirmPasswordToggle()">
							<ion-icon [name]="showConfirmPassword ? 'eye-off-outline' : 'eye-outline'"></ion-icon>
						</ion-button>
						<!-- <ion-icon class="suffix-icon" src="/assets/icon/close.svg"></ion-icon> -->
					</ion-input>
					<div class="alert-text" *ngIf="submitted">
						<ng-container *ngFor="let error of errorMessages.cPassword">
							<ion-text *ngIf="submitted && form.get('cPassword').hasError(error.type)">
								{{ error.message }}
							</ion-text>
						</ng-container>
					</div>
					<div class="alert-text" *ngIf="form.hasError('passwordNotMatch')">
						<ion-text>
							New Password and Confirm Password should match
						</ion-text>
					</div>
				</ion-col>
				<ion-col size="12">
					<ion-button type="submit" expand="block" class="btn-block btn-gradient">SUBMIT
						<ion-spinner *ngIf="showLoader" class="ion-margin-start" name="circles"></ion-spinner>
					</ion-button>
				</ion-col>
				<ion-col size="12" class="ion-text-center">
					<a class="router-link" [routerLink]="['/login']">
						Login
					</a>
				</ion-col>
			</ion-row>
		</ion-grid>
	</form>
</ion-content>

<!-- Footer without a border -->
<ion-footer class="default-page-footer ion-no-border ion-text-center">
	<ion-text class="footer-text copy-right-footer">
		Copyrights © Sutherland® 2021. All Rights reserved
	</ion-text>
</ion-footer>
