ion-header {
	background: transparent
		linear-gradient(180deg, var(--color-26235d) 0%, #3e225c 100%);
	padding-bottom: 10px;
}

.row {
	padding: 24px;

	.logo {
		padding: 30px;
	}
	ion-card {
		background: var(--color-26235d) 0% 0% no-repeat padding-box;
		background: #26235d 0% 0% no-repeat padding-box;
		border-radius: 20px;
		opacity: 1;
		padding: 16px;
		// border: 1px solid #fff;
	}
	ion-card-title {
		font: var(--font-style-normal) normal var(--font-weight-normal)
			var(--font-size-24) / var(--line-spacing-30) var(--ion-font-family);
		letter-spacing: var(--character-spacing-0);
		color: var(--color-ffffff);
		padding-bottom: 15px;
		text-align: center;
		border-bottom: 1px solid #eee;
	}
	ion-card-content {
		font: var(--font-style-normal) normal var(--font-weight-normal)
			var(--font-size-16) / var(--line-spacing-20) var(--ion-font-family);
		letter-spacing: var(--character-spacing-0);
		color: var(--color-ffffff);
		text-align: center;
	}
	.btn-block {
		--box-shadow: 15px 15px 40px #329d9c36;
		--border-radius: 20px;
		height: 44px;
		margin: 30px;
	}
}

.align-center {
	margin: 0;
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
