<ion-header translucent="true" class="ion-no-border ion-header-transparent" *ngIf="!isNewUser">
	<ion-toolbar class="side-button">
		<ion-buttons slot="start">
			<ion-menu-button>
				<ion-icon src="/assets/icon/menu.svg" size="small"></ion-icon>
			</ion-menu-button>
		</ion-buttons>
		<ion-buttons slot="end" class="bell-button" [routerLink]="['/tabs/notification']">
			<ion-badge class="notification-count-badge">
				<span>{{unReadCount}}</span>
			</ion-badge>
			<ion-icon src="/assets/icon/bell.svg"></ion-icon>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content fullscreen="true" class="background-gradient">
	<div class="row" [ngClass]="{'align-center': isNewUser}">
		<ion-img src="/assets/icon/logo.svg" class="logo" [ngClass]="{'ion-hide': !isNewUser}"></ion-img>
		<ion-card>
			<ion-card-header>
				<ion-card-title>Setup your Work From Home Locations (WFHL) </ion-card-title>
			</ion-card-header>
			<ion-card-content>
				Setup your Work From Home Locations (WFHL) . This is a one time activity before using the application.
			</ion-card-content>
		</ion-card>
		<ion-button type="button" expand="block" class="btn-block btn-gradient" (click)="onAddWFHL()">
			ADD WHFL
		</ion-button>
	</div>
</ion-content>
