<ion-header class="ion-no-border">
	<ion-toolbar class="side-button">
		<ion-buttons slot="start">
			<ion-menu-button>
				<ion-icon src="/assets/icon/menu.svg" size="small"></ion-icon>
			</ion-menu-button>
		</ion-buttons>
		<ion-buttons slot="end" class="bell-button" [routerLink]="['/tabs/notification']">
			<ion-badge class="notification-count-badge">
				<span>{{unReadCount}}</span>
			</ion-badge>
			<ion-icon src="/assets/icon/bell.svg"></ion-icon>
		</ion-buttons>
	</ion-toolbar>
	<ion-toolbar class="transparent ion-text-center">
		<ion-avatar class="user-avatar">
			<ion-img [src]="UserImage"></ion-img>
			<!-- <img src="{{ UserImage }}" alt="Profile Picture"> -->
			<span class="dot" [ngClass]="{'dot-green': checkedIn, 'dot-red': !checkedIn}"></span>
		</ion-avatar>
		<h5 class="title-h5">{{ DayTitle }}</h5>
		<h4 class="title-h4">{{ UserName }}</h4>
		<p class="title-p">Its a beautiful day! Please Check-in to start your day at Sutherland</p>
	</ion-toolbar>
	<div class="display-button">
		<ion-button type="button" size="small" class="btn-white" (click)="onCheckIn()" *ngIf="!checkedIn">
			<ion-icon slot="start" src="/assets/icon/login-dark.svg"></ion-icon>
			Check-in
		</ion-button>
		<ion-button type="button" size="small" class="btn-gradient" (click)="onHealthCheck()" *ngIf="!isSelfCheckTaken">
			<ion-icon slot="start" src="/assets/icon/heart-white.svg"></ion-icon>
			Take Self Health Check
		</ion-button>
		<ion-button type="button" size="small" [ngClass]="{'btn-bookseat': colorCode !== 'GREEN', 'btn-gradient': colorCode == 'GREEN'}" class="btn-gradient" (click)="redirectToSpaceApp()" *ngIf="isSelfCheckTaken" [disabled]="colorCode !== 'GREEN'">
			Book Seat
		</ion-button>
	</div>
</ion-header>

<ion-content fullscreen="true">
	<ion-grid>
		<ion-row *ngIf="checkedIn">
			<ion-col size="12">
				<p class="timer-label">
					Hours&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Minutes&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Seconds</p>
				<h1 class="timer" id="timer"></h1>
			</ion-col>
		</ion-row>
		<ion-row class="activity">
			<ion-text class="activity-title" *ngIf="(attendanceActivity.length > 0) || (selfCheckActivity.length > 0)">
				Latest Activity</ion-text>
			<ion-col size="12">
				<ion-list>
					<ion-item class="activity-item" detail="false" *ngFor="let item of attendanceActivity">
						<ion-avatar slot="start" *ngIf="item.activityName == 'CheckIn'">
							<img src="/assets/icon/login-dark-big.svg">
						</ion-avatar>
						<ion-avatar slot="start" *ngIf="item.activityName == 'CheckOut'">
							<img src="/assets/icon/logout-dark.svg">
						</ion-avatar>
						<ion-label>
							<p>{{item.location}}</p>
							<h3>Last {{item.activityName}}</h3>
							<p>{{transformDate(item.time, displayDateFormat)}}
								{{transformDate(item.time, displayTimeFormat)}}</p>
						</ion-label>
					</ion-item>
					<ion-item class="activity-item" detail="false" *ngFor="let item of selfCheckActivity"
						[ngClass]="{'red': item.colorCode == 'RED'}">
						<ion-avatar slot="start" *ngIf="item.colorCode == 'GREEN'">
							<img src="/assets/icon/heart-dark.svg">
						</ion-avatar>
						<ion-avatar slot="start" *ngIf="item.colorCode == 'RED'">
							<img src="/assets/icon/wrong-big.svg">
						</ion-avatar>
						<ion-label>
							<p>{{item.surveyName}}</p>
							<h3>Latest health check</h3>
							<p>{{transformDate(item.time, displayDateFormat)}}
								{{transformDate(item.time, displayTimeFormat)}}</p>
						</ion-label>
						<ion-button slot="end" size="small" (click)="onView(item)">View</ion-button>
					</ion-item>
				</ion-list>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>


<ion-footer class="ion-no-border ion-footer-button">
	<ion-button class="btn-green" expand="full" *ngIf="colorCode == 'GREEN'" (click)="showMessage()">
		<ion-icon slot="start" src="/assets/icon/smile.svg"></ion-icon>
		{{stateName}}
	</ion-button>
	<ion-button class="btn-red" expand="full" *ngIf="colorCode == 'RED'" (click)="showMessage()">
		<ion-icon slot="start" src="/assets/icon/sad.svg"></ion-icon>
		{{stateName}}
	</ion-button>
</ion-footer>
