<ion-header translucent="true" class="ion-no-border ion-header-transparent">
	<ion-toolbar class="transparent">
		<ion-buttons [routerLink]="['/login']" slot="start" class="back-button">
			<ion-icon src="/assets/icon/left-arrow.svg"></ion-icon>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content fullscreen="true" class="background-gradient default-page">
	<form [formGroup]="form" (ngSubmit)="onSubmit()">
		<ion-grid class="pl-25 pr-25">
			<ion-row>
				<ion-img src="/assets/icon/logo.svg" class="margin-auto"></ion-img>
				<ion-col size="12">
					<div class="py-25" *ngIf="!isNewUser">
						<h4 class="title-text medium">Forgot Password?</h4>
						<h3 class="title-text">No Worries :)</h3>
					</div>
					<div class="py-25" *ngIf="isNewUser">
						<h4 class="title-text medium">New User?</h4>
						<h3 class="title-text">No Worries :)</h3>
					</div>
					<h6 class="title-text">Enter your username</h6>
				</ion-col>
				<ion-col size="12">
					<!-- Input with placeholder -->
					<ion-input type="email" class="form-control" placeholder="Username"
						formControlName="formEmail" [ngClass]="{ 'field-error': submitted && invalidUser }" (ionChange)="ionInputChange()">
						<ion-icon *ngIf="!form.get('formEmail').valid && !invalidUser" class="suffix-icon"
							src="/assets/icon/right-default.svg">
						</ion-icon>
						<ion-icon *ngIf="!form.get('formEmail').invalid && !invalidUser" class="suffix-icon"
							src="/assets/icon/right-success.svg">
						</ion-icon>
						<ion-icon *ngIf="submitted && invalidUser" class="suffix-icon" src="/assets/icon/close.svg" (click)="clearInput()">
						</ion-icon>
					</ion-input>
					<ng-container *ngFor="let error of errorMessages.email">
						<div class="alert-text" *ngIf="submitted && form.get('formEmail').hasError(error.type)">
							<ion-text>
								{{ error.message }}
							</ion-text>
						</div>
					</ng-container>
					<!-- <div *ngIf="submitted && form.get('formEmail').hasError('required')" class="alert-text">
						<ion-text *ngIf="form.get('formEmail').errors.required">
							Please fill in the mandatory field
						</ion-text>
					</div> -->
				</ion-col>
				<ion-col size="12">
					<ion-button type="submit" expand="block" class="btn-block btn-gradient" [disabled]="showLoader">
						SUBMIT
						<ion-spinner *ngIf="showLoader" class="ion-margin-start" name="circles"></ion-spinner>
					</ion-button>
				</ion-col>
				<ion-col size="12" class="ion-text-center">
					<a class="router-link" [routerLink]="['/login']">
						Login
					</a>
				</ion-col>
			</ion-row>
		</ion-grid>
	</form>
</ion-content>

<!-- Footer without a border -->
<ion-footer class="default-page-footer ion-no-border ion-text-center">
	<ion-text class="footer-text copy-right-footer">
		Copyrights © Sutherland® 2021. All Rights reserved
	</ion-text>
</ion-footer>
